body {

    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {

    width: 500px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 20px;
}

.image {

    margin: 20px;
}

img {

    width: 460px;
    border-radius: 20px;
}

.text {

    margin: 50px 0;
}

p {
    
    text-wrap: wrap;
    font-size: 20px;
}

.grey_color {

    color: hsl(220, 15%, 55%);
}